<div class="row">
    <div class="col-md-6 offset-3 alert-success text-center">
        <h3>Order can all your orders in the Orders section of your profile</h3>
        <hr />
        <p>Thank you</p>
    </div>
</div>